@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Hind+Siliguri&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}
.font-arabic {
  font-family: 'Amiri', serif, sans-serif;

}
@font-face {
  font-family: 'IndopakFont';
  src: url('/fonts/IndopakFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-indopak {
  font-family: 'IndopakFont', serif;
}
/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/noorehuda_greentech.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.option-text {
  font-family: 'CustomFont', sans-serif;
  font-size: 1.5rem;
  
}
/* Custom Buttons */
.btn-style {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition-all duration-300;
}

.nav-btn {
  @apply bg-white border border-blue-400 text-blue-700 font-medium px-4 py-2 rounded shadow hover:bg-blue-100 transition;
}